<div class="row mt-5">
    <div class="col-md-9 m-auto">
        <div class="card card-body">
            <%- include nav.ejs %>
            <h1 class="text-center mb-3">Saved Jobs</h1>
            <% include ./partials/messages %>
            <% if (jobAds.length >= 1) { %>
            <div class="container">
                <div class="row">
                    <% for (var i = 0; i < jobAds.length; i++) { %>
                        <% if (user._id == jobAds[i].postedByUserID) { %>
                    <div class="col-md-12 m-auto border border-secondary rounded-sm mt-4 p-3">
                        <p><em><i>You posted this job advertisement</i></em></p>
                        <% } else { %>
                        <div class="col-md-12 m-auto border rounded-sm mt-4 p-3">
                            <% } %>
                            <% let bookmarked = jobAds[i].hasOwnProperty('activeBookmark'); %>
                            <div class="clearfix">
                                <div class="float-left">
                                    <h3 class="border border-right-0 border-bottom-0 border-top-0 border-primary pl-1">
                                        <a href="/job?jobId=<%= jobAds[i]._id %>"><%= (jobAds[i].jobTitle); %></a>
                                    </h3>
                                </div>
                                <div class="float-right">
                                    <% if (user.userType === 'employer') { %>
                                        <ul class="list-unstyled">
                                            <% if (user._id == jobAds[i].postedByUserID) { %>
                                                <li class="list-inline-item delete-job" title="Delete Job Ad"><h4><a
                                                                href="/deleteJob?jobId=<%= jobAds[i]._id %>"><i
                                                                    class="far fa-trash-alt"></i></a></h4></li>
                                                <li class="list-inline-item" title="Edit Job Ad"><h4><a
                                                                href="/editJob?jobId=<%= jobAds[i]._id %>"><i
                                                                    class="far fa-edit"></i></a></h4></li>
                                            <% } %>
                                            <li class="list-inline-item" title="Bookmark Job Ad"><h4>
                                                    <a href="/bookmarkJob?jobId=<%= jobAds[i]._id %>">
                                                        <% if (bookmarked) { %>
                                                            <i class="fas fa-bookmark"></i>
                                                        <% } else { %>
                                                            <i class="far fa-bookmark"></i>
                                                        <% } %>
                                                    </a></h4></li>
                                        </ul>
                                    <% } %>
                                    <% if (user.userType === 'student') { %>
                                        <ul class="list-unstyled">
                                            <li class="list-inline-item" title="Register Your Interest"><h4><a
                                                            href="/registerInterest?jobId=<%= jobAds[i]._id %>"><i
                                                                class="fas fa-file-import"></i></a></h4></li>
                                            <li class="list-inline-item" title="Bookmark Job Ad"><h4>
                                                    <a href="/bookmarkJob?jobId=<%= jobAds[i]._id %>">
                                                        <% if (bookmarked) { %>
                                                            <i class="fas fa-bookmark"></i>
                                                        <% } else { %>
                                                            <i class="far fa-bookmark"></i>
                                                        <% } %>
                                                    </a></h4></li>
                                        </ul>
                                    <% } %>
                                    <% if (user.userType === 'lecturer') { %>
                                        <ul class="list-unstyled">
                                            <li class="list-inline-item" title="Recommend a student"><h4><a
                                                            href="/recommendStudent?jobId=<%= jobAds[i]._id %>"><i
                                                                class="fas fa-user-tag"></i></a></h4></li>
                                            <% if (user._id == jobAds[i].postedByUserID) { %>
                                                <li class="list-inline-item delete-job" title="Delete Job Ad"><h4><a
                                                                href="/deleteJob?jobId=<%= jobAds[i]._id %>"><i
                                                                    class="far fa-trash-alt"></i></a></h4></li>
                                                <li class="list-inline-item" title="Edit Job Ad"><h4><a
                                                                href="/editJob?jobId=<%= jobAds[i]._id %>"><i
                                                                    class="far fa-edit"></i></a></h4></li>
                                            <% } %>
                                            <li class="list-inline-item" title="Bookmark Job Ad"><h4>
                                                    <a href="/bookmarkJob?jobId=<%= jobAds[i]._id %>">
                                                        <% if (bookmarked) { %>
                                                            <i class="fas fa-bookmark"></i>
                                                        <% } else { %>
                                                            <i class="far fa-bookmark"></i>
                                                        <% } %>
                                                    </a></h4></li>
                                        </ul>
                                    <% } %>
                                </div>
                            </div>
                            <ul class="list-unstyled">
                                <li><b><%= jobAds[i].businessName %></b></li>
                                <li><%= jobAds[i].jobCountry %> > <%= jobAds[i].jobState %>
                                    > <%= jobAds[i].jobCity %></li>
                                <li>Job Description: <%= jobAds[i].jobDescription; %></li>
                                <li>Job Type: <%= jobAds[i].jobType %></li>
                                <li>Posted: <%= jobAds[i].postDate %></li>
                            </ul>
                            <div class="clearfix">
                                <!-- These need to be cast to string for the comparison or ejs fails to retrieve the second value and we always get 'true' -->
                                <% if (jobAds[i].lastModified.toString() != jobAds[i].postDate.toString()) { %>
                                    <div class="float-left mt-3">
                                        <i>Listing last modified: <%= jobAds[i].lastModified; %></i>
                                    </div>
                                <% } %>
                                <div class="float-right mt-3">
                                    <a href="/job?jobId=<%= jobAds[i]._id %>">More details..</a>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                    <% if (pageCount > 0) { %> <!-- Start of pagination block. -->
                    <div class="row">
                        <div class="text-center pt-4 mx-auto">
                            <ul class="pagination text-center">
                                <% if (currentPage == 1) { %>
                                    <li class="page-item disabled"><a class="page-link">First</a></li>
                                <% } else { %>
                                    <li class="page-item"><a class="page-link" href="/bookmarkedJobs/1">First</a>
                                    </li>
                                <% } %>
                                <% var k = (Number(currentPage) > 5 ? Number(currentPage) - 4 : 1) %>
                                <% if (k !== 1) { %>
                                    <li class="page-item disabled"><a class="page-link">...</a></li>
                                <% } %>
                                <% for (; k <= (Number(currentPage) + 4) && k <= pageCount; k++) { %>
                                    <% if (k == currentPage) { %>
                                        <li class="page-item active"><a class="page-link"><%= k %></a></li>
                                    <% } else { %>
                                        <li class="page-item"><a class="page-link"
                                                                 href="/bookmarkedJobs/<%= k %>"><%= k %></a>
                                        </li>
                                    <% } %>
                                    <% if (k == Number(currentPage) + 4 && k < pageCount) { %>
                                        <li class="page-item disabled"><a class="page-link">...</a></li>
                                    <% } %>
                                <% } %>
                                <% if (currentPage == pageCount) { %>
                                    <li class="page-item disabled"><a class="page-link">Last</a></li>
                                <% } else { %>
                                    <li class="page-item"><a class="page-link"
                                                             href="/bookmarkedJobs/<%= pageCount %>">Last</a></li>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                    <% } %>
                    <!-- End of pagination block. -->
                </div>
                <% } %>
                <%- include footer.ejs %>
            </div> <!-- End card-body -->
        </div>
    </div>