<div class="row mt-5">
    <div class="col-md-9 m-auto">
        <div class="card card-body">
            <%- include nav.ejs %>
            <h1 class="text-center mb-3"></h1>
            <% include ./partials/messages %>
            <%= bookmarks[0] %>
            <% if (user._id == jobAd.postedByUserID) { %>
            <div class="col-md-12 m-auto border border-secondary rounded-sm mt-4 p-3">
                <p><em><i>You posted this job advertisement</i></em></p>
                <% } else { %>
                <div class="col-md-12 m-auto border rounded-sm mt-4 p-3">
                    <% } %>
                    <div class="clearfix" id="job-title-section">
                        <div class="float-left">
                            <h3><%= jobAd.jobTitle %></h3>
                            <h4><%= jobAd.businessName %></h4>
                        </div>
                        <div class="float-right">
                            <% if (user.userType === 'employer') { %>
                                <ul class="list-unstyled">
                                    <% if (user._id == jobAd.postedByUserID) { %>
                                        <li class="list-inline-item delete-job" title="Delete Job Ad"><h4><a
                                                        href="/deleteJob?jobId=<%= jobAd._id %>"><i
                                                            class="far fa-trash-alt"></i></a></h4></li>
                                        <li class="list-inline-item" title="Edit Job Ad"><h4><a
                                                        href="/editJob?jobId=<%= jobAd._id %>"><i
                                                            class="far fa-edit"></i></a></h4></li>
                                    <% } %>
                                    <li class="list-inline-item" title="Bookmark Job Ad"><h4><a
                                                    href="/bookmarkJob?jobId=<%= jobAd._id %>"><i
                                                        class="far fa-bookmark"></i></a></h4></li>
                                </ul>
                            <% } %>
                            <% if (user.userType === 'student') { %>
                                <ul class="list-unstyled">
                                    <li class="list-inline-item" title="Register Your Interest"><h4><a
                                                    href="/registerInterest?jobId=<%= jobAd._id %>"><i
                                                        class="fas fa-file-import"></i></a></h4></li>
                                    <li class="list-inline-item" title="Bookmark Job Ad"><h4><a
                                                    href="/bookmarkJob?jobId=<%= jobAd._id %>"><i
                                                        class="far fa-bookmark"></i></a></h4></li>
                                </ul>
                            <% } %>
                            <% if (user.userType === 'lecturer') { %>
                                <ul class="list-unstyled">
                                    <li class="list-inline-item" title="Recommend a student"><h4><a
                                                    href="/recommendStudent?jobId=<%= jobAd._id %>"><i
                                                        class="fas fa-user-tag"></i></a></h4></li>
                                    <% if (user._id == jobAd.postedByUserID) { %>
                                        <li class="list-inline-item delete-job" title="Delete Job Ad"><h4><a
                                                        href="/deleteJob?jobId=<%= jobAd._id %>"><i
                                                            class="far fa-trash-alt"></i></a></h4></li>
                                        <li class="list-inline-item" title="Edit Job Ad"><h4><a
                                                        href="/editJob?jobId=<%= jobAd._id %>"><i
                                                            class="far fa-edit"></i></a></h4></li>
                                    <% } %>
                                    <li class="list-inline-item" title="Bookmark Job Ad"><h4><a
                                                    href="/bookmarkJob?jobId=<%= jobAd._id %>"><i
                                                        class="far fa-bookmark"></i></a></h4></li>
                                </ul>
                            <% } %>
                        </div>
                    </div> <!-- End job-title-section -->
                    <hr/>
                    <section>
                        <dl>
                            <dt><span>Job Posted Date</span></dt>
                            <dd><span><%= jobAd.postDate %></span></dd>
                            <dt><span>Location</span></dt>
                            <dd><span><%= jobAd.jobCity %>, <%= jobAd.jobState %>, <%= jobAd.jobCountry %></span>
                            </dd>
                            <dt><span>Job Type</span></dt>
                            <dd><span><%= jobAd.jobType %></span></dd>
                            <dt>Remuneration</dt>
                            <dd><%= jobAd.remuneration %></dd>
                        </dl>
                    </section>
                    <hr/>
                    <section>
                        <dl>
                            <dt><span>Job Description</span></dt>
                            <dd><span><%= jobAd.jobDescription %></span></dd>
                        </dl>
                    </section>
                </div>
                <%- include footer.ejs %>
            </div>
        </div><!-- End card-body -->
    </div>
    <script type="text/javascript">
        let elems = document.getElementsByClassName('delete-job');
        let confirmIt = function (e) {
            if (!confirm('Are you sure? The job advertisement will be removed from service permanently!')) e.preventDefault();
        };
        let i = 0, l = elems.length;
        for (; i < l; i++) {
            elems[i].addEventListener('click', confirmIt, false);
        }
    </script>